/* GENERAL STYLES */
body {
  background-color: $bgcolour;
   // @include gradient($base-dk, $base-md);
  font-size: 11pt;
  font-family: Calabri Light, Calabri, sans-serif;
  color: $dkgrey;
  min-height: 100%;
    a {
        color: $base-dk;

        &:hover, &:focus {
            color:$base-col;
        }
    }
}
.container {
 //   background-color: white;
//    border: 10px solid $base-dk;
//    border-top: 0 solid transparent;
  //  background-color: rgba(255,255,255,0.95);
  //  background-color: $base-dk;
    
}
h1 {
    font-size: 3rem;
    a {
        color:  $base-col;
    }
}
h2 { 
    font-size: 2.2rem;
}
h3 { 
    font-size: 1.6rem; 
    line-height: 1.2;
}

h4 {
    font-size: 1.4rem;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid $ltgrey;
}

table, th, td {
    padding: 5px 10px;
}