// VARIABLES 
$base-col:#7006ff;
$contr-col:transparent;


$greys: (
  'dk': #555,
  'md': #999,
  'ml': #ddd,
  'lt': #eee,
  'vlt': #f8f8f8,
);

$contrasts: (
    'lime': #c5d447,
    'green': #82c342,
    'blue' : #9fe1f9,
);

$colour-set: (
    'dk': darken($base-col,10),
    'base': $base-col,
    'md': lighten($base-col,10),
    'ml': lighten($base-col,20),
);

$colours1: (
    'dk': darken($base-col,15),
    'base': $base-col,
    'md': lighten($base-col,10),
    'ml': lighten($base-col,20),
    'lt':lighten($base-col,30),
    'vlt':lighten($base-col,45),
);

$colours2: (
    'dk': darken($base-col,15),
    'base': $base-col,
    'md': lighten($base-col,10),
    'ml': lighten($base-col,20),
    'contr':map-get($contrasts,'blue'),
    'vlt':lighten(map-get($contrasts,'blue'),15),
);

$colours3: (
    'dk': darken($base-col,15),
    'base': $base-col,
    'md': lighten($base-col,10),
    'blue': map-get($contrasts,'blue'),
    'green':map-get($contrasts,'green'),
    'lime':map-get($contrasts,'lime'),
);



// Blues
$dkblue: #2542BE;  //#33a; //#337;
$mdblue: #2C78DE;
$mlblue: #54a6fb;
$ltblue: #F2F7FE;
$ltblgrey: #F4F7FC;
$dkblgrey: #E3E6ED;

$greys: (
  'dk': #555,
  'md': #999,
  'ml': #ddd,
  'lt': #eee,
  'vlt': #f8f8f8,
);

// Useful colour shortcuts
$dkgrey: map-get($greys,'dk');
$mdgrey: map-get($greys,'md');
$mlgrey: map-get($greys,'ml');
$ltgrey: map-get($greys,'lt');
$vltgrey: map-get($greys,'vlt');

$base-dk: map-get($colours1,dk);
$base-md: map-get($colour-set,md);

$bgcolour: #F2F7FE;
$mypadding: 10px;
$args:5px 5px 5px 5px; 
$args1: 3px 6px 15px 8px rgba(0, 0, 0, 0.2);
$args2: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
$args2a:2px 2px 10px 5px rgba(0, 0, 0, 0.07);
$args3: 2px 2px 10px 4px rgba(0, 0, 0, 0.04);
$args4: 2px 2px 5px 4px rgba(0, 0, 0, 0.01);